@media only screen and (max-width: 1024px) {
	.product__top{
		height: 700px;
		.mount{
			bottom: 0;
			position: absolute;
			top: initial;
			background-position: 50% 100%;
		}
	} 
	.product__bottom{
		.product__items{
			.items_text{
				top: 15px;
				ul{
					width: 90%;
				}
				p{
					width: 90%;
				}
				h3{
					width: 90%;
				}
				h2{
					width: 90%;
				}
			}
		}
	}
	.product__bottom{
		height: auto;
	}
	.product__form_left{
		h4{
			margin: 10px 0;
		}
	}
	.product__form_right-form{
		.input-content{
			width: 55%;
		}
		.form-button{
			margin-top: 0;
			margin-left: 15px;
			height: 40px;
		}
	}
}

@media only screen and (max-width: 980px) {
	
}

@media only screen and (max-width: 770px) {
	
}

@media only screen and (max-width: 736px) {
	.product__top{
		height: 700px;
		.mount{
			bottom: 0;
			position: absolute;
			top: initial;
			background-position: 50% 100%;
		}
	}
	.top_text-first{
		font-size: 45px;
		margin: 10px 0;
	}
	.top_text-second{
		font-size: 35px;
	}
	.product__bottom{
		height: auto;
		.product__items{
			.items_thumb{
				width: 100%;
			}
			.items_text{
				width: 100%;
			}
		}
	}
	.product__form{
		height: auto;
		.product__form_left{
			width: 100%;
		}
		.product__form_right{
			width: 100%;
			.form-button{
				
				height: 35px;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	
}

@media only screen and (max-width: 320px) {
	
}