.product__top{
	width: 100%;
	float: left;
	display: block;
	background-image: url('../img/product-fon.png');
	background-repeat: no-repeat;
    height: 595px;
    position: relative;
    text-align: center;
    padding-top: 20px;
    background-size: cover;

    h2{
    	width: 100%;
    	float: left;
    	display: block;

    }
    .mount{
    	bottom: 0;
		position: absolute;
		background-position: 50% 100%;
    }
}
.top_text-first{
	width: 100%;
	font-size: 75px;
	font-family: $rbl;
	text-align: center;
	line-height: 55px;
	color: #4B5158;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 100px;
	float: none;
	display: inline-block;
	position: relative;
    	z-index: 10;
}
.top_text-second{
	width: 100%;
	font-size: 48px;
	font-family: $rl;
	text-align: center;
	text-transform: uppercase;
	color: #75797F;
	margin-top: 0;
	float: none;
	display: inline-block;
	margin-bottom: 18px;
	position: relative;
    	z-index: 10;
}
.top_text-third{
	width: 100%;
	font-size: 18px;
	font-family: $rr;
	text-align: center;
	color: #4b5158;
	float: none;
	display: inline-block;
	position: relative;
    	z-index: 10;
}
.top_line{
	height: 4px;
	background-color: #fdc12e;
	width: 10%;
	float: none;
	position: relative;
	margin: 0 auto;
    	z-index: 10;
}
.product__bottom{
	width: 100%;
	float: left;
	display: block;
	background-color: #FFC203;
	position: relative;
	text-align: center;
	height: auto;
	padding: 0px 0 40px 0;

}
.product-text{
	display: block;
	float: left;
	width: 100%;
	text-align: center;
	position: relative;
	padding-bottom: 0px;
	h2{
		font-size: 36px;
		font-family: $rbl;
		color: #4B5158;
		padding-left: 10px;
		margin-top: 0px;
		text-align: center;
	}
	ul{
		width: 100%;
		text-align: center;
		list-style-type: disc;
		 list-style-position: inside;
    	box-sizing: border-box;
		margin-bottom: 0;
		li{
			text-align: center;
			width: 75%;
			font-family: $rr;
			font-size: 17px;
			color: #4B5158;
			margin: 10px auto;
		}
	}
}
.product__items{
	width: 100%;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	float: left;
	/* display: block;
	position: relative; */
	margin: 30px 0;
	display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.items_thumb{
	height: 315px;
	width: 50%;
	float: left;
	text-align: center;
	display: inline-block;
	position: relative;

	img{
		width: 100%;
		max-height: 100%;
		position: absolute;
	    top: 50%;
	    left: 50%;
	    -webkit-border-radius: 10px;
	        border-radius: 10px;
	    -webkit-transform: translate(-50%, -50%);
	       -moz-transform: translate(-50%, -50%);
	        -ms-transform: translate(-50%, -50%);
	         -o-transform: translate(-50%, -50%);
	            transform: translate(-50%, -50%);
	}
}


.items_text{
	width: 47%;
	float: right;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

	h3{
		font-size: 24px;
		font-family: $rbl;
		color: #4B5158;
		padding-left: 10px;
		text-align: left;
		margin-top: 0;
		margin-bottom: 14px;
		float: left;
		width: 100%;

	}
	p{
		font-size: 17px;
		float: left;
		font-family: $rr;
		text-align: left;
		padding-left: 10px;
		color: #4B5158;
		-webkit-box-sizing: border-box;
	   	-moz-box-sizing: border-box;
	        box-sizing: border-box;
	}
	.text-line{
		background-color: #FFF;
		height: 4px;
		width: 15%;
		float: left;
		margin-left: 10px;
	}
}
.product__items:nth-of-type(odd){
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-flex-direction: row-reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
	 .items_thumb{
		float: right;
		padding-left: 0;

	}
	.items_text{
		padding-left: 0;
		float: left;
		h3{
			text-align: right;
			padding-left: 0;
		}
		p{
			text-align: right;
		}
		.text-line{
			float: right;
		}
	}
}
.product__form{
	float: left;
	width: 100%;
	height: 128px;
	background-color: #3f444a;
	position: relative;
	z-index: 40;
}
.product__form_left{
	width: 50%;
	float: left;
	display: block;
	padding: 40px 0;
	h4{
		font-size: 18px;
		font-family: $rb;
		margin: 0;
		text-align: left;
		color: #FFF;
	}
	p{
		font-family: $ri;
		color: #c6c6c6;
		text-align: left;
		margin: 0;
	}
}
.product__form_right{
	float: left;
	width: 50%;
	display: block;
	padding: 40px 0;

}
.product__form_right-form{
	width: 100%;
	float: left;
	display: block;

	.input-content{
		line-height: 42px;
		height: 42px;
		width: 65%;
		border: 1px solid #000;
		padding-left: 10px;
		display: block;
		float: left;
		-webkit-border-radius: 0;
		        border-radius: 0;
	}
	input::-webkit-input-placeholder {color: #4b5158; font-size: 14px; font-family: $ri;}
	input::-moz-placeholder          {color: #4b5158; font-size: 14px; font-family: $ri;}/* Firefox 19+ */
	input:-moz-placeholder           {color: #4b5158; font-size: 14px; font-family: $ri;}/* Firefox 18- */
	input:-ms-input-placeholder      {color: #4b5158; font-size: 14px; font-family: $ri;}

	.form-button{
		width: 28%;
		border: 5px solid #fdc12e;
		display: block;
		float: left;
		height: 36px;
		margin-left: 17px;
		text-transform: uppercase;
		font-size: 14px;
		font-family: $rcr;
		text-align: center;
		color: #fff;
		text-decoration: none;
		line-height: 37px;
	}
}
